/* Button */
.btn-ow {
    height: 30px;
    line-height: 30px;
    padding: 0 0.5rem;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    transition: all 300ms;
    font-size: 0.85rem !important;
}
.btn-ow-primary {
    background: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
}
.btn-ow-primary:hover {
    background: #003785;
    border: 1px solid #003785;
}

/* Input */
.input-ow {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 1px 0.5rem 0 0.5rem;
    border-radius: 4px;
    outline: none;
    font-size: 0.85rem !important;
    background: white;
    color: var(--color-font-body);
    border: 1px solid #b9bec4;
}
.input-ow:hover,
.input-ow:focus {
    border: 1px solid #2196f3;
    transition: all 300ms;
}
.input-ow::placeholder {
    color: var(--color-input-placeholder);
}

select:disabled {
    color: #ced4da;
    border-color: #ced4da;
}
select:disabled:hover {
    border-color: #ced4da;
}
input:focus-visible {
    outline: none;
}
.form-field-ow {
    margin-bottom: 15px;
}
/* Box */
.box-ow {
    border: 1px solid #d6cbcb;
    padding: 20px 26px 20px 26px;
    box-shadow: 0 4px 15px -2px rgb(0 0 0 / 15%);
}
/* Utils */
.weigth-500-ow {
    font-weight: 500;
    margin-bottom: 1px;
}