* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* medidas */
    --navbar-height: 70px;
    --sidebar-width: 250px;
    --sidebar-short-width: 80px;
    --menu-link-height: 45px; 
    --footer-height: 80px;
    
    /* colores */
    --color-primary: #1465BB;
    --color-platinum: #E2E2E2;
    --color-font-body: #212529;
    --color-input-placeholder: #5f6b70;
}

/* Estilos para el navbar */
.mynavbar {
    position: sticky;
    top: 0;
    z-index: 10;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    font-family: 'Poppins', Helvetica, sans-serif;

    background: var(--color-primary);
    color: white;
}
.mynavbar > div.logo {
    flex-grow: 1;
}
.mynavbar .toggle-sidebar {
    cursor: pointer;
    font-size: 1.25rem;
}
.mynavbar .user-mode {
    font-size: 0.85rem;
}

/* Agrupa el contenido principal y footer */
main {
    position: relative;
    display: flex;
    min-height: calc(100vh - var(--navbar-height));
}

/* Estilos para el Sidebar */
.sidebar {
    z-index: 1000;
    position: fixed;
    top: var(--navbar-height);
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Helvetica, sans-serif;
    gap: 10px;
    transition: width 200ms;

    background: #EDFFFA;
    border-right: 1px solid var(--color-platinum);
}
/* Menu */
.sidebar .menu-sidebar {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.85rem;
    
    color: #646464;
}
.menu-panel > .menu-link {
    cursor: pointer;
    height: var(--menu-link-height);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px;
    margin: 0 12px;
    border-radius: 6px;
    transition: background 200ms, color 200ms;
}
.menu-panel > .menu-link:hover {
    background: #6091D8;
    color: white;
}
.menu-link > i.menu-icon {
    width: 20px;
    flex-shrink: 0;
    font-size: 1.25rem;
    transition: color 200ms;
}
.menu-link > span.menu-label {
    flex-shrink: 0;
    flex-grow: 1;
    transition: opacity 200ms;
}
.menu-link > i.menu-arrow {
    transition: transform 200ms, color 200ms;
}
.menu-panel.active i.menu-arrow {
    transform: rotate(90deg);
}
.menu-panel > .submenu-panel {
    height: 0;
    overflow: hidden;
    transition: height 200ms;
}
.submenu-panel .submenu-link {
    display: flex;
    align-items: center;
    gap: 12px;
    height: var(--menu-link-height);
    cursor: pointer;
    padding: 0 50px;
    transition: color 200ms;
}
.submenu-panel .submenu-link:hover {
    color: #3673c5;
}
.submenu-link .submenu-icon {
    font-size: 6px;
}

/* Estilos para las vistas */
.content {
    width: calc(100% - var(--sidebar-width));
    padding: 20px;
    margin-bottom: var(--footer-height);
    margin-left: var(--sidebar-width);
    transition: margin-left 200ms, width 200ms;
}

/* Estilos para el footer */
footer {
    position: absolute;
    bottom: 0;
    margin-left: var(--sidebar-width);
    height: var(--footer-height);
    width: calc(100% - var(--sidebar-width));
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    transition: margin-left 200ms, width 200ms;

    background-color: #0e0e0e;
    color: white;
}

/* SHORT */
body.short .sidebar {
    width: var(--sidebar-short-width);
}
body.short .menu-panel {
    margin-top: 10px;
}
body.short .menu-link {
    margin: 0;
    padding: 0;
    border-radius: 0;
}
body.short .menu-link > i.menu-icon {
    width: var(--sidebar-short-width);
    text-align: center;
}
body.short .menu-link > span.menu-label,
body.short .menu-link > i.menu-arrow {
    opacity: 0;
}
body.short .submenu-panel {
    opacity: 0;
    position: fixed;
    background: white;
    transform: translateX(-10px);
    margin-left: var(--sidebar-short-width);
    pointer-events: none;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 16%);
    transition-property: transform, opacity;
}
body.short .menu-panel.active .submenu-panel {
    height: auto !important;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
body.short .content {
    margin-left: var(--sidebar-short-width);
    width: calc(100% - var(--sidebar-short-width));
}
body.short footer {
    margin-left: var(--sidebar-short-width);
    width: calc(100% - var(--sidebar-short-width));
}

/* Estilos para el login */
.body-login {
    background: linear-gradient(90deg, #2196f3 0%, #81c9fa 51%, #b9ffff 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    color: var(--color-font-body);
}
.login {
    width: 300px;
    height: auto;
    padding: 30px 30px;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background: white;
}
.login-title {
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}